<!DOCTYPE html>
<html>
	<head>
		<title>奖惩信息</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		
		<!-- 所有的 css 资源 -->
		<link rel="stylesheet" href="https://unpkg.com/element-ui@2.8.2/lib/theme-chalk/index.css">
		<link rel="stylesheet" href="../../static/sa.css"> 
		
		<!-- 所有的 js 资源 -->
		<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
		<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
		<script src="https://unpkg.com/element-ui@2.8.2/lib/index.js"></script>
		<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>
		<script src="https://cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>
		<script src="../../static/kj/laydate/laydate.js"></script>
		<script src="../../static/sa.js"></script>
		
		<style type="text/css">
			
		</style>
		
	</head>
	<body  οnlοad="myfunction()">
		
		<!-- 防止margin向下击穿 -->
		<div style="margin-top: -1em;"><br></div>
		
		<div class="vue-box" style="display: none;" :style="'display: block;'">
			
			<!-- 参数栏 -->
			<div class="c-panel">
				<div class="c-title">检索参数</div>
				<el-form ref="form">
					<div class="c-item">
						<label class="c-label">工号：</label>
						<el-input size="mini" v-model="p.job_id" placeholder="工号"></el-input>
					</div>

					<div class="c-item">
						<label class="c-label">奖惩编号：</label>
						<el-input size="mini" v-model="p.reward_id" placeholder="奖惩编号"></el-input>
					</div>



					<div class="c-item">
						<label class="c-label">考勤日期：</label>
						<el-input size="mini" v-model="p.beginDate" class="beginDate"></el-input>
						&nbsp;至&nbsp;
						<el-input size="mini" v-model="p.endDate" class="endDate"></el-input>
					</div>
					
					<div class="c-item" style="min-width: 0px;">
						<el-button type="primary" icon="el-icon-search" size="mini" @click="f5">查询</el-button>
					</div>

					<div class="c-item" style="min-width: 0px;">
						<el-button type="primary" icon="el-icon-plus" size="mini" @click="f5">添加</el-button>
					</div>
					


<!--					<div class="c-item">-->
<!--						<label class="c-label">快速检索：</label>-->
<!--						<el-radio-group v-model="p.sort_type">-->
<!--							<el-radio :label="1">全勤员工</el-radio>-->
<!--							<el-radio :label="2">迟到次数</el-radio>-->
<!--							<el-radio :label="3">早退次数</el-radio>-->
<!--							<el-radio :label="4">请假次数</el-radio>-->
<!--							<el-radio :label="5">旷工次数</el-radio>-->
<!--						</el-radio-group>-->
<!--					</div>-->

				</el-form>

			</div>
			
			<!-- 数据栏 -->
			<div class="c-panel">			
				<div class="c-title">列表</div>
				<el-table class="data-table" :data="dataList" size="mini"  style="width: 100%">
					
					<el-table-column label="奖惩编号" prop="reward_id" width="70px" sortable> </el-table-column>
					<el-table-column label="工号" prop="job_id" width="70px" sortable> </el-table-column>
					<el-table-column label="员工姓名" prop="username" width="100px">
						<template slot-scope="scope">
							<div style="float: left; width: 130px; line-height: 20px;">
								<b>{{scope.row.username}}</b>
						</div>
						</template>
					</el-table-column>

					<el-table-column label="性别">
						<template slot-scope="scope">
							<span  v-if="scope.row.sex===1">{{scope.row.sex | sexFormat}}</span>
							<span  v-if="scope.row.sex===0">{{scope.row.sex | sexFormat}}</span>
						</template>
					</el-table-column>

					<el-table-column label="加班小时" prop="overtime" sortable></el-table-column>
					<el-table-column label="迟到次数" prop="late" sortable></el-table-column>
					<el-table-column label="早退次数" prop="leaveearly" sortable></el-table-column>
					<el-table-column label="请假次数" prop="aleave" sortable></el-table-column>
					<el-table-column label="旷工次数" prop="absenteeism" sortable></el-table-column>
					<el-table-column label="时间" prop="checktime" sortable></el-table-column>

					<el-table-column prop="address" label="操作">
						<template slot-scope="scope">
							<el-button type="primary" class="c-button" icon="el-icon-edit" @click="update()" >修改</el-button>
							<el-button type="danger" class="c-button" icon="el-icon-delete" @click="del(scope.row)">删除</el-button>
						</template>
					</el-table-column>
				</el-table>

<!--奖惩添加-->
				<el-dialog title="奖惩添加" :visible.sync="addVisible" width="35%">

					<el-form  name="temp" id="temp" ref="temp"  :model="temp" label-width="100px">

						<el-form-item label="工号">
							<el-input  id="tempejob_id" name="tempejob_id"  v-model="temp.job_id" maxlength="6" placeholder="请输入员工工号" show-word-limit />
						</el-form-item>

						<el-form-item label="迟到次数">
							<el-input id="template" name="template" v-model="temp.late" maxlength="3" placeholder="请输入迟到次数" show-word-limit  />
						</el-form-item>

						<el-form-item label="早退次数">
							<el-input id="templeaveearly" name="templeaveearly" v-model="temp.leaveearly" maxlength="3" placeholder="请输入早退次数" show-word-limit  />
						</el-form-item>

						<el-form-item label="请假次数">
							<el-input id="tempaleave" name="tempaleave" v-model="temp.aleave" maxlength="3" placeholder="请输入请假次数" show-word-limit  />
						</el-form-item>

						<el-form-item label="旷工次数">
							<el-input id="tempabsenteeism" name="tempabsenteeism" v-model="temp.absenteeism" maxlength="3" placeholder="请输入旷工次数" show-word-limit  />
						</el-form-item>

						<el-form-item label="考勤时间">
							<el-date-picker
									id="tempchecktime"
									name="tempchecktime"
									style="width: 100%;"
									v-model="temp.checktime"
									format="yyyy 年 MM 月 dd 日"
									value-format="yyyy-MM-dd"
									type="date"
									placeholder="选择考勤时间">
							</el-date-picker>
						</el-form-item>


					</el-form>
					<span slot="footer" class="dialog-footer">
            <el-button  @click="addVisible = false">取 消</el-button>
            <el-button type="primary" @click="saveAdd()">确 定</el-button>
          </span>
				</el-dialog>


		
				<!-- 分页 -->
				<div class="page-box">
					<el-pagination background
						layout="total, prev, pager, next, sizes, jumper" 
						:current-page.sync="page.pageNo" 
						:page-size.sync="page.pageSize" 
						:total="page.count" 
						:page-sizes="[1, 10, 20, 30, 40, 50, 100]" 
						@current-change="f5(true)" 
						@size-change="f5(true)">
					</el-pagination>
				</div>

			</div>
			

			
			<br><br><br><br><br><br><br><br><br>

			
		</div>

		<script>
			// 定义一个 Vue 全局的过滤器，名字叫做  sexFormat
			Vue.filter('sexFormat', function (val) {
				if(val===1){
					return '男'
				}else if(val===0){
					return '女'
				}
			})

			var app = new Vue({
				el: '#vue-box',
				data:{
					p: {	// 查询参数
						job_id: undefined,
						reward_id: undefined,
						beginDate: "",
						endDate: ""
					},
					page: {	// 分页信息
						pageNo: 1,
						pageSize: 10,
						count: 30
					},
					rewaedinfolist:[
						{
							reward_id:1,
							job_id:200001,
							checktime:1546272000000,
							overtime:0,
							late:2,
							leaveearly:2,
							aleave:2,
							absenteeism:0,
							ename:"张一",
							sex:1,

						}
					],
					sexOptions:[
						{
							value: '1',
							label:'男'
						},
						{
							value: '0',
							label:'女'
						}
					],
					editVisible:false,
					addVisible:false,
					showVisible:false,

					form:{
						reward_id:1,
						job_id:200001,
						checktime:1546272000000,
						overtime:0,
						late:2,
						leaveearly:2,
						aleave:2,
						absenteeism:0,
						ename:"张一",
						sex:1,
					},
					temp:{
						job_id:undefined,
						late:undefined,
						leaveearly:undefined,
						aleave:undefined,
						absenteeism:undefined,
						checktime:undefined,
					},


				created: function () {
					this.getData();
				},


				methods: {

					handleEdit:function(row){
						this.form = {
							department_id:row.department_id,
							department:row.department,
							employee_count:row.employee_count,
							manager:row.manager,
							state:row.state
						}
						this.editVisible = true
					},

					handleAdd:function(row){
						this.addVisible = true
					},

					//显示信息
					showInfo:function(row){
						this.form = {
							job_id:row.job_id,
							ename:row.ename,
							sex:row.sex,
							nation:row.nation,
							address:row.address,
							hometown:row.hometown,
							idcard:row.idcard,
							phone:row.phone,
							birth:row.birth,
							education:row.education,
							department:row.department,
							position_name:row.position_name,
							hiredate:row.hiredate,
							workstate:row.workstate
						}
						this.showVisible = true
					},

					// 保存编辑，更新部门信息
					saveEdit:function() {
						var that = this
						if (form.department_name.value=="")
						{
							layer.tips('请输入部门名称',$("#department_name"));
							form.department_name.focus();
							return false;
						}else if (form.department_manager.value=="")
						{
							layer.tips('请输入经理名称',$("#department_manager"));
							form.department_manager.focus();
							return false;
						}else {
							$.ajax({
								url: "http://localhost:9900/updateDepartment",
								type: "post",
								data: {
									department_id: that.form.department_id,
									department_name: that.form.department,
									manager: that.form.manager
								},
								success: function () {
									layer.alert('修改成功', {
										skin: 'layui-layer-molv'
										, closeBtn: 0
										, anim: 4
									});

									that.getData()
								}
							})
							that.editVisible = false
						}
					},

					//添加部门
					saveAdd:function() {
						var that = this
						if (temp.tempename.value=="")
						{
							layer.tips('请输入员工名称',$("#tempename"));
							temp.tempename.focus();
							return false;
						}else if (temp.tempsex.value=="")
						{
							layer.tips('请选择员工性别',$("#tempsex"));
							temp.tempsex.focus();
							return false;
						}else if (temp.tempbirth.value=="")
						{
							layer.tips('请选择出生日期',$("#tempbirth"));

							temp.tempbirth.focus();
							return false;
						}else if (temp.tempphone.value=="" || temp.tempphone.value.length!=11)
						{
							layer.tips('请正确输入员工联系电话',$("#tempphone"));
							temp.tempphone.focus();
							return false;
						}else if (temp.tempidcard.value=="" || temp.tempidcard.value.length!=18)
						{
							layer.tips('请正确输入员工身份证号',$("#tempidcard"));
							temp.tempidcard.focus();
							return false;
						}else if (this.hometownflag==false)
						{
							console.log("111 "+this.hometownflag)
							layer.tips('请选择员工籍贯',$("#temphometown"));
							return false;
						}else if (temp.tempaddress.value=="")
						{
							layer.tips('请选择员工现在居住地址',$("#tempaddress"));
							temp.tempaddress.focus();
							return false;
						}else if (temp.tempnation.value=="")
						{
							layer.tips('请选择员工民族',$("#tempnation"));
							temp.tempnation.focus();
							return false;
						}else if (temp.tempeducation.value=="")
						{
							layer.tips('请选择员工学历',$("#tempeducation"));
							temp.tempeducation.focus();
							return false;
						}else if (temp.temphiredate.value=="")
						{
							layer.tips('请选择员工雇佣时间',$("#temphiredate"));
							temp.temphiredate.focus();
							return false;
						}else if (temp.tempdepartment.value=="")
						{
							layer.tips('请选择员工部门',$("#tempdepartment"));
							temp.tempdepartment.focus();
							return false;
						}else if (temp.tempposition_name.value=="")
						{
							layer.tips('请选择员工职位',$("#tempposition_name"));
							temp.tempposition_name.focus();
							return false;
						}else{
							$.ajax({
								url: "http://localhost:9900/addEmployee",
								type: "post",
								data:{
									ename:that.temp.ename,
									sex:that.temp.sex,
									nation:that.temp.nation,
									address:that.temp.address,
									hometown:that.temp.hometown,
									idcard:that.temp.idcard,
									phone:that.temp.phone,
									birth:that.temp.birth,
									education:that.temp.education,
									department:that.temp.department,
									position_name:that.temp.position_name,
									hiredate:that.temp.hiredate,

								},
								success:function(){
									layer.alert('添加成功', {
										skin: 'layui-layer-molv'
										,closeBtn: 0
										,anim: 4
									});
									that.getData()
								}
							})
							that.addVisible = false
						}
					},

					//刷新数据
					getData:function(){
						var that = this
						axios.post('http://localhost:9900/Findallreward').then(function (res) {

							//把从json获取的数据赋值给数组
							var data = res.data.allrewardinfolist
							that.rewardinfolist = data
							console.log(that.rewardinfolist)

						}).catch(function () {
							console.log('失败')
						})
					},

					// 分页刷新
					pageNo_f5: function(pageNo) {
						this.$message('切换当前页：' + pageNo);
						this.f5();
					},
					pageSize_f5: function(pageSize) {
						this.$message('切换页大小：' + pageSize);
						this.f5();
					},

					// 奖惩删除
					quitwork: function(data) {
						var that = this
						layer.confirm('确定删除此员工？', {icon: 3, title:'提示'}, function(index){
							$.ajax({
								type: 'POST',
								url: 'http://localhost:9900/deletereward',
								data: {reward_id:data.reward_id},
								success: function(){

									layer.alert('解雇成功', {
										skin: 'layui-layer-molv'
										,closeBtn: 0
										,anim: 4
									});
									that.getData()
								},
								error: function(){
									layer.alert('解雇失败', {
										skin: 'layui-layer-molv'
										,closeBtn: 0
										,anim: 4
									});
								}
							});
						});

					},


					// 奖惩模糊查询
					findfit: function() {

						var that = this

						$.ajax({
							type: 'POST',
							url: 'http://localhost:9900/RewardFuzzyreward',
							data: {
								job_id:that.p.job_id,
								reward_id:that.p.reward_id,
								beginDate:that.p.beginDate,
								endDate:that.p.endDate
							},
							success: function(res){

								layer.alert('查询成功', {
									skin: 'layui-layer-molv'
									,closeBtn: 0
									,anim: 4
								});
								console.log(res)
								that.departmentslist=res
							},
							error: function(){
								layer.alert('查询失败', {
									skin: 'layui-layer-molv'
									,closeBtn: 0
									,anim: 4
								});
							}
						});

					}
				}
			})
		</script>
		
		
		
		
		
		
	</body>
</html>
