<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.hrmsdev.mapper.DPRelationMapper">
    <select id="findbyall"  resultType="com.king.hrmsdev.pojo.Vposition">
      SELECT relationship_id,(SELECT position_name from position WHERE  position.position_id=dp_position.position_id) position_name,(SELECT department from department WHERE  dp_position.department_id = department.department_id) department_name , salary from dp_position,department,position WHERE position.position_id=dp_position.position_id and
      dp_position.department_id = department.department_id
    </select>

    <select id="findbyid" parameterType="int"  resultType="com.king.hrmsdev.pojo.Vposition">
      select * from dp_position where relationship_id = #{id}
    </select>

    <select id="findbyposition" parameterType="int"  resultType="com.king.hrmsdev.entity.DPRelation">
      select * from dp_position where position_id = #{id}
    </select>

    <delete id="deletebypositionid" parameterType="int">
      delete from dp_position where position_id = #{id}
    </delete>
    <delete id="deletebydepartid" parameterType="int">
      delete from dp_position where department_id = #{id}
    </delete>
    <delete id="deletebyid" parameterType="int">
      delete from dp_position where relationship_id = #{id}
    </delete>
    <insert id="addDPRelation" parameterType="com.king.hrmsdev.entity.DPRelation">
      insert into dp_position(position_id,department_id) values (#{position_id},#{department_id})
    </insert>
    <update id="updateDPRelation" parameterType="com.king.hrmsdev.pojo.Vposition">
        update dp_position,position set dp_position.position_id = #{position_id} ,department_id = #{department_id}, salary=#{salary} WHERE relationship_id=#{relationship_id} and position.position_id = (SELECT position_id FROM (SELECT * FROM dp_position WHERE relationship_id = #{relationship_id}) a)
    </update>


</mapper>