<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.hrmsdev.mapper.JobChangeMapper">
    <select id="findall" resultType="com.king.hrmsdev.pojo.Vjobchange" >
      select change_id,(SELECT ename FROM employees WHERE employees.job_id=jobchange.job_id) job_id,(SELECT department FROM department WHERE department.department_id=jobchange.beforedp_id) beforedp_id,(SELECT department FROM department WHERE department.department_id=jobchange.afterdp_id) afterdp_id,changetime FROM employees,department,jobchange WHERE employees.department_id=department.department_id GROUP BY change_id
    </select>
    <select id="findByid" parameterType="int" resultType="com.king.hrmsdev.entity.JobChange">
      SELECT * FROM jobchange WHERE change_id = #{id}
    </select>
    <select id="findBycondition" parameterType="com.king.hrmsdev.entity.JobChange" resultType="com.king.hrmsdev.entity.JobChange">
        select * from jobchange
        <where>
            <if test="change_id != null and change_id != 0">
                  change_id = #{change_id}
            </if>
            <if test="job_id != null and job_id != 0 ">
                AND job_id  = #{job_id}
            </if>
            <if test="beforedp_id != null and beforedp_id != 0">
                AND beforedp_id = #{beforedp_id}
            </if>
            <if test="changetime != null and changetime != 0">
                AND changetime = #{changetime}
            </if>
        </where>
    </select>
    <insert id="addjobchange" parameterType="com.king.hrmsdev.entity.JobChange">
      insert into jobchange (job_id,beforedp_id,afterdp_id,changetime) values(#{job_id},#{beforedp_id},#{afterdp_id},#{changetime})
    </insert>
    <update id="updatejobchange" parameterType="com.king.hrmsdev.entity.JobChange">
        UPDATE jobchange set beforedp_id=#{beforedp_id},afterdp_id=#{afterdp_id} WHERE change_id= #{change_id}
    </update>
    <delete id="deletejobchange" parameterType="int">
      DELETE from jobchange  WHERE change_id=#{id}
    </delete>

</mapper>