<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.king.hrmsdev.mapper.ReportMapper">
    <select id="depart_employee_count"  resultType="com.king.hrmsdev.pojo.employee_counts">
        SELECT department,employee_count FROM department
    </select>
    <select id="depart_employee_salary"  resultType="com.king.hrmsdev.pojo.employee_salary">
      SELECT d.department,AVG(p.salary) employee_salarys FROM department d,employees e,position p,dp_position dp WHERE dp.department_id =d.department_id and dp.position_id = p.position_id
        and e.position_id = p.position_id GROUP BY d.department_id
    </select>
    <select id="employee_salaryTop5"  resultType="com.king.hrmsdev.pojo.ReportSalary">
      SELECT  e.ename,d.department,p.salary  FROM department d,employees e,position p,dp_position dp WHERE dp.department_id =d.department_id and dp.position_id = p.position_id
and e.position_id = p.position_id order by salary desc limit 5
    </select>

    <select id="employee_echeck"  resultType="com.king.hrmsdev.pojo.employee_check">
     select	state,COUNT(state) count  FROM echeck GROUP BY state
    </select>








</mapper>