<!DOCTYPE html>
<html>
<head>
	<title>薪水管理</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />

	<!-- 所有的 css 资源 -->
	<link rel="stylesheet" href="https://unpkg.com/element-ui@2.8.2/lib/theme-chalk/index.css">
	<link rel="stylesheet" href="../../static/sa.css">

	<!-- 所有的 js 资源 -->
	<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
	<script src="https://unpkg.com/vue@2.6.10/dist/vue.js"></script>
	<script src="https://unpkg.com/element-ui@2.8.2/lib/index.js"></script>
	<script src="https://unpkg.com/jquery@3.4.1/dist/jquery.js"></script>
	<script src="https://cdn.bootcss.com/layer/3.0.1/layer.min.js"></script>
	<script src="../../static/kj/laydate/laydate.js"></script>
	<script src="../../static/sa.js"></script>

	<style type="text/css">

	</style>

</head>
<body>

<!-- 防止margin向下击穿 -->
<div style="margin-top: -1em;"><br></div>

<div id="vue-box" style="display: none;" :style="'display: block;'">

	<!-- 参数栏 -->
	<div class="c-panel">
		<div class="c-title">检索参数</div>
		<el-form ref="form">
			<div class="c-item">
				<label class="c-label">工号：</label>
				<el-input size="mini" v-model="p.job_id" placeholder="工号"></el-input>
				<label class="c-label">姓名：</label>
				<el-input size="mini" v-model="p.ename"  placeholder="姓名" ></el-input>
			</div>

			<div class="c-item">
				<span class="c-label">当前月份:</span>
				<el-date-picker id="time" name="time" size="mini" v-model="p.time"  value-format="yyyy-MM" type="month"  placeholder="选择月"></el-date-picker>
			</div>
			<div class="c-item" style="min-width: 0px;">
				<el-button type="primary" icon="el-icon-search" size="mini" @click="findSalary">查询</el-button>
				<el-button type="primary" icon="el-icon-plus" size="mini"  @click="SalaryAdd">月薪计算</el-button>
			</div>
			<br />

			<div class="c-item">
				<label class="c-label">排序：</label>
				<el-radio-group v-model="p.sort_type">
					<el-radio :label="1">薪资最高</el-radio>
					<el-radio :label="2">职位最高</el-radio>
					<el-radio :label="3">奖金最高</el-radio>
				</el-radio-group>
			</div>

		</el-form>

	</div>

	<!-- 数据栏 -->
	<div class="c-panel">
		<div class="c-title">部门列表</div>
		<el-table class="data-table" :data="SalaryList" size="mini"  style="width: 100%">

			<el-table-column label="工号"   prop="job_id" width="70px" > </el-table-column>
			<el-table-column label="姓名" prop="ename" width="200px">
				<template slot-scope="scope">
					<b>{{scope.row.ename}}</b>
				</template>
			</el-table-column>
			<el-table-column label="性别" prop="sex"> </el-table-column>
			<el-table-column label="所属部门" prop="department" width="70px">
				<template slot-scope="scope">
					<b>{{scope.row.department}}</b>
				</template>
			</el-table-column>

			<el-table-column label="职位" prop="position"></el-table-column>

			<el-table-column prop="address" label="操作" width="">
				<template slot-scope="scope">
					<el-button type="primary" class="c-button" icon="el-icon-edit" @click="handleEdit(scope.row)">修改</el-button>
					<el-button type="danger" class="c-button" icon="el-icon-delete" @click="deleteSalary(scope.row)" >删除</el-button>
				</template>
			</el-table-column>

		</el-table>
		<!--计算工资-->
		<el-dialog title="月薪计算" :visible.sync="addVisible" width="30%">
			<el-form  name="temp" id="temp" ref="temp"  :model="temp" label-width="100px">

				<el-form-item label="工号">
					<el-input  id="job_id" name="job_id" v-model="temp.job_id" maxlength="6" placeholder="输入工号" show-word-limit onkeyup="this.value=this.value.replace(/\D/g,'')"/>
				</el-form-item>
				<el-form-item label="月份">
					<el-date-picker id="time" name="time"  v-model="temp.time"  value-format="yyyy-MM-dd" type="date"  placeholder="选择月份"></el-date-picker>
				</el-form-item>
			</el-form>
			<span slot="footer" class="dialog-footer">
            <el-button  @click="addVisible = false">取 消</el-button>
            <el-button type="primary" @click="saveAdd()">确 定</el-button>
          </span>
		</el-dialog>

		<!-- 分页 -->
		<div class="page-box">
			<el-pagination background
						   layout="total, prev, pager, next, sizes, jumper"
						   :current-page.sync="page.pageNo"
						   :page-size.sync="page.pageSize"
						   :total="page.count"
						   :page-sizes="[1, 10, 20, 30, 40, 50, 100]"
						   @current-change="f5(true)"
						   @size-change="f5(true)">
			</el-pagination>
		</div>

	</div>

	<br><br><br><br><br><br><br><br><br>


</div>

<script>
	// 定义一个 Vue 全局的过滤器，名字叫做  statusFormat
	Vue.filter('statusFormat', function (val) {
		if(val===1){
			return '正常'
		}else if(val===0){
			return '撤销'
		}
	})

	var app = new Vue({
		el: '#vue-box',
		data:{
			p: {	// 查询参数
				job_id:undefined,
				ename:"",
				time:"",

			},
			page: {	// 分页信息
				pageNo: 1,
				pageSize: 10,
				count: 30
			},
			SalaryList:[
				{job_id:1,ename: "测试名称",department:"测试",sex:"0",position:"测试",baseMoney:"999999",checkMoney:"999999",finalMoney:"0",}
			],
			addVisible:false,
			temp:{
				department:"",
				time:"",
			}
		},



		methods: {
			handleEdit:function(row){
				this.form = {
					job_id:row.job_id,
					ename:row.ename,
					sex:row.sex,
					department:row.department,
					position:row.position,
					baseMoney:row.baseMoney,
					checkMoney:row.checkMoney,
					finalMoney:row.finalMoney,
				}
				this.editVisible = true
			},
			SalaryAdd:function(row){
				this.addVisible=true;
			},
			//刷新数据
			getData:function(){
				var that = this
				axios.post('http://localhost:9900/FindallSalary').then(function (res) {

					//把从json获取的数据赋值给数
					var data = res.data
					that.SalaryList = data
					console.log("SalaryList--->"+that.SalaryList)

				}).catch(function () {
					console.log('失败')
				})
			},
			//计算月薪
			saveAdd:function() {
				var that = this
				if (temp.job_id.value=="")
				{
					layer.tips('请输入工号',$("#job_id"));
					temp.job_id.focus();
					return false;
				}
				else if (temp.time=="")
				{
					layer.tips('请选择日期',$("#time"));
					temp.time.focus();
					return false;
				}
				else{
					$.ajax({
						url: "http://localhost:9900/AddSalary",
						type: "post",
						data:{
							job_id: that.temp.job_id,
							time:that.temp.time,
						},
						success:function(){
							layer.alert('添加成功', {
								skin: 'layui-layer-molv'
								,closeBtn: 0
								,anim: 4
							});
							that.getData()
						}
					})
					that.addVisible = false
				}
			},
			deleteSalary: function(data) {
				var that = this
				layer.confirm('确定删除此信息？', {icon: 3, title:'提示'}, function(index){
					$.ajax({
						type: 'POST',
						url: 'http://localhost:9900/deleteSalary',
						data: {job_id:data.job_id},
						success: function(){
							layer.alert('删除成功', {
								skin: 'layui-layer-molv'
								,closeBtn: 0
								,anim: 4
							});
							that.getData()
						},
						error: function(){
							layer.alert('删除失败', {
								skin: 'layui-layer-molv'
								,closeBtn: 0
								,anim: 4
							});
						}
					});
				});

			},
			// 部门模糊查询
			findSalary: function() {

				var that = this

				console.log("that.p.time+++++++++++"+that.p.time)
				$.ajax({
					type: 'POST',
					url: 'http://localhost:9900/QuarySalaryList',
					data: {
						job_id:that.p.job_id,
						ename:that.p.ename,
						time:that.p.time,
					},
					success: function(res){
						layer.alert('查询成功', {
							skin: 'layui-layer-molv'

							,closeBtn: 0
							,anim: 4
						});
						console.log(res);
						that.SalaryList=res;
						console.log(that.SalaryList);
					},
					error: function(){
						layer.alert('查询失败', {
							skin: 'layui-layer-molv'
							,closeBtn: 0
							,anim: 4
						});
					}
				});

			}
		}
	})
</script>

</body>
</html>
